* { 
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Desktop */
@media only screen and (min-width: 961px) {
    .account-options {
        display: flex;
        color: #000000;
        position: absolute;
        right: 2%;
    }
    body {
        background-color: #a4f1ff;
    }
    .nav-link {
        box-sizing: border-box;
        margin-left: 20px;
        white-space: nowrap;
    }
    
    .title {
        background-color: #bbbbbb;
    }

    .book {
        text-align: center;
        align-items: center;
        margin: 80px;
    }
}
/* Tablets */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .account-options {
        margin-top: 50px;
    }
    body {
        background-color: rgb(72, 255, 170);
    }
    h1 {
        color: #ff3e3e;
    }
    .books-menu {
        flex-direction: column;
    }
    .book {
        height: 150px;
        width: 100px;
        margin: 50px;
        margin-bottom: 100px;
    }

    .title {
        background-color: #ffffff;
        text-align: center;
    }
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .account-options {
        margin-top: 50px;
    }
    body {
        background-color: #bebcbc;
    }
    .book {
        margin: 40px;
        height: 100px;
        width: 80px;
        margin-bottom: 100px;
    }

    .books-menu {
        flex-direction: column;
    }
    h1 {
        color: red;
    }
}

.add-to-cart {
    box-sizing: border-box;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 10px;
}

.book {
    border: 4px solid rgb(0, 0, 0);
    height: 250px;
    width: 159px;
}

.books-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
}

.bg-light {
    background-color: rgb(225, 247, 26) !important;
    color: #000000;
}

.github-footer {
    bottom: -200px;
    position: relative;
    text-align: center;
}

h1 {
    text-align: center;
}
.image {
    opacity: 1;
    background-color :#ffffff;
    height: 218px;
    width: 152px;
    box-sizing: border-box;
}
.title {
    text-align: center;
}